<!DOCTYPE html>
<html>
<head>
  <title>Students</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/estilo.css') }}">
</head>
<body>
   <nav>
      <a href = "{{ url_for('show_all') }}">Mostrar todos los Estudiantes</a> |
      <a href = "{{ url_for('new') }}">Añadir Estudiante</a>  |
      <a href = "{{ url_for('new_academic') }}">Añadir Historia Academica</a> |
      <a href = "{{ url_for('interes') }}">Adicionar Intereses</a> |
      <a href = "{{ url_for('upload_file') }}">Upload new file</a>
   </nav>
      <section>
      <h3>Students</h3>

      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}

      <form action = "{{ request.path }}" method = "post">
         <label for = "institucion">institucion</label>
         <input type = "text" name = "institucion" placeholder = "institucion" /><br>
         <label for = "programa">programa</label>
         <input type = "text" name = "programa" placeholder = "programa" /><br>
         <label for = "titulo">titulo</label>
         <input type = "text" name = "titulo" placeholder = "titulo" /><br>
         <label for = "anio">año de grado</label>
         <input type = "text" name = "anio" placeholder = "año de grado" /><br>
         <label for = "persona_id">ID</label>
         <input type = "hiden" name = "persona_id"/><br>
         
         <input type = "submit" value = "Submit" />
      </form>
    </section>
   </body>
</html>
