<!DOCTYPE html>
<html>
<head>
  <title>Hoja de vida </title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/estilo.css') }}">
</head>
  <body>
     <nav>
        <a href = "{{ url_for('show_all') }}">Mostrar todos los Estudiantes</a> |
      <a href = "{{ url_for('new') }}">Añadir Estudiante</a>  |
      <a href = "{{ url_for('new_academic') }}">Añadir Historia Academica</a> |
      <a href = "{{ url_for('interes') }}">Adicionar Intereses</a> |
      <a href = "{{ url_for('upload_file') }}">Upload new file</a>
     </nav>
     <section>
       <h3>Students</h3>
      <form action = "/update_record" method = "post">
        <input type = "hidden" name = "id" value = "{{ id }}" /><br>
         <label for = "name">Documento</label>
         <input type = "text" name = "documento" value = "{{ result.documento}}"/><br>
         <label for = "primer_nombre">Primer nombre</label>
         <input type = "text" name = "primer_nombre" value = "{{ result.primer_nombre }}" /><br>
         <label for = "segundo_nombre">Segundo nombre</label>
         <input type = "text" name = "segundo_nombre" value = "{{ result.segundo_nombre }}" /><br>
         <label for = "primer_apellido">Primer apellido</label>
         <input type = "text" name = "primer_apellido" value = "{{ result.primer_apellido }}" /><br>
         <label for = "segundo_apellido">Segundo apellido</label>
         <input type = "text" name = "segundo_apellido" value = "{{ result.segundo_apellido }}" /><br>
         <label for = "celular">Celular</label>
         <input type = "text" name = "celular" value = "{{ result.celular }}" /><br>
         <label for = "correo">Correo</label>
         <input type = "text" name = "correo" value = "{{ result.correo }}" /><br>
         <label for = "direccion">Direccion</label>
         <textarea name = "direccion" placeholder = "direccion">{{ result.direccion }}</textarea><br>
         <input type = "submit" value = "Submit" />
      </form>
    </section>
   </body>
</html>
